        <footer class="footer-page">
            <div class="container text-center">
                <nav class="footer-nav">
                    <a class="footer-nav-item" href="https://way-out.co/privacy-policy.html">
                        Privacy Policy
                    </a>
                    <a class="footer-nav-item" href="https://way-out.co/tos.html">
                        Terms of Use
                    </a>
                    <a class="footer-nav-item" href="https://www.marsocreair.com/o-qxlt-i03-0fb0ad1bb566714ce58a074abf55e3a8">
                        Unsubscribe
                    </a>
                    <a class="footer-nav-item" href="https://way-out.co/ccpa.html">
                        CCPA Request
                    </a>
                </nav>

                <small class="footer-copy">
                    © <script>document.write(new Date().getFullYear())</script> Way Out. All rights reserved.
                </small>
            </div>
        </footer>

    </div>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{{var_path_env}}js/custom.js"></script>
</body>
</html>