        <footer class="footer-page">
            <div class="container text-center">
                <div class="footer-page_copyright text--uppercase">Copyright © 2020 All rights reserved</div>

                <nav class="footer-page_nav">
                    <a class="footer-page_nav-item js_utmLink" href="./privacy.html">Privacy Policy</a>
                    <a class="footer-page_nav-item js_utmLink" href="./contact-us.html">Contact</a>
                    <a class="footer-page_nav-item js_utmLink" href="./unsubscribe.html">Unsubscribe</a>
                </nav>
            </div>
        </footer>

    </div>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js" integrity="sha256-ZPvH+DBiXs1v8yk7lmZa6+wqm+kzbwL9R1COtZ9+wjo=" crossorigin="anonymous"></script>
    <script defer src="{{var_path_env}}js/custom.js"></script>
</body>
</html>