<form class="panel is-sm js_formSMS" action="POST">
    <div class="panel-title text--uppercase">
        Subscribe for More Information
    </div>

    <div class="form-group js_formGroup">
        <input id="first_name" class="form-control" type="text" name="first_name" placeholder="First name">
    </div>
    <div class="form-group js_formGroup">
        <input id="last_name" class="form-control" type="text" name="last_name" placeholder="Last name">
    </div>
    <div class="form-group js_formGroup">
        <input id="email_address" class="form-control" type="email" name="email_address" placeholder="Email address">
    </div>
    <div class="form-group js_formGroup">
        <input id="phone_home" class="form-control" type="tel" name="phone_home" data-phone-mask placeholder="Phone number">
    </div>
    <div class="form-group js_formGroup">
        <label class="form-check">
            <input id="optCheck" class="form-check-input mt-0" type="checkbox" name="optCheck">
            
            <span for="optCheck" class="form-check-label">
                By checking this box, I verify that this data is correct and that I give consent to receive SMS text messages about debt
                relief programs from ‘Way Out’ by Aleksanterin Kulta OY. Maximum message frequency is 6 per month. Message and data
                rates may apply. Reply STOP to opt out. You will then be unsubscribed from the ‘Way Out’ program, and no further
                messages will be delivered. For more information, please contact HELP for assistance. I also understand that my consent
                is not a condition of purchasing any products or services. 
                <a class="text-nowrap" href="https://way-out.co/tos.html" target="_blank">Terms & Conditions</a>. 
                <a class="text-nowrap" href="https://way-out.co/privacy-policy.html" target="_blank">Privacy Policy</a>.
            </span>
        </label>
    </div>

    <div class="pt-2">
        <button class="btn is-px text--uppercase js_submit" type="submit">
            Submit
        </button>
    </div>
</form>