<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="description" content="Get out of debt within 12 to 48 months / Get out of debt within 12 to 48 months / Qualify with an Imperfect Credit Score">

    @@include("./head/_favicons.html")

    <!-- FONTS -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link href="{{var_path_env}}css/site.css" rel="stylesheet" />
</head>
<body @@if(context.bodyCls){class="@@bodyCls"}>
    <div class="wrapper-page">