.panel {
    padding: 20px 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(#333,.5);

    &-title {
        margin: 0 auto 30px;
        max-width: 350px;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }

    :last-child {
        margin-bottom: 0;
    }
}