@@include('../components/_header-page.html', {
    "title": "Way Out",
    "bodyCls": "body-bg"
})

<main class="main-page">
    <div class="entry">
        <div class="container">
            <div class="entry-header">
                @@include('../components/ui/_brand-logo.html')

                <address class="entry-address">
                    220 W 133rd St, New York, New York(NY), 10030
                </address>
            </div>

            <div class="entry-body">
                <div class="entry-content">
                    <h1 class="h1 text--uppercase">
                        Find Out How You Can:
                    </h1>
                    
                    <ul class="entry-list list">
                        <li>
                            Get out of debt within 12 to 48 months
                        </li>
                        <li>
                            Save Up to Hundreds of Dollars a Month
                        </li>
                        <li>
                            Qualify with an Imperfect Credit Score
                        </li>
                        <li>
                            Get Approved Fast and Easy
                        </li>
                    </ul>
                </div>

                @@include('../components/ui/_picture.html', {
                    "img": "entry-hero",
                    "ext": "png",
                    "pictureClass": "entry-hero"
                })
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            @@include('../components/_formQuiz.html')
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="schema">
                <h2 class="h2">
                    Steps to Take
                </h2>
    
                <ul class="schema-list list">
                    <li>Evaluate your financial situation: determine the amount and type of debt you owe.</li>
                    <li>Research options: consider debt settlement: debt consolidation, and bankruptcy as debt relief options.</li>
                    <li>Consider cost: find a program that fits your budget by comparing fees and charges.</li>
                    <li>Check credibility: verify your debt relief company's credibility and reputation.</li>
                    <li>Understand the fine print: read the terms and conditions of each program carefully.</li>
                    <li>Get professional advice: talk to a financial advisor or attorney about debt relief programs.</li>
                    <li>Make a decision: select the debt relief program that meets your financial needs.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="cta-grid">
                <div class="cta-content">
                    <h2 class="h3 text--uppercase">
                        Call Us Now
                    </h2>
                    <img class="cta-decor" src="./img/headset.svg" alt="" loading="lazy">

                    <a class="h3 cta-link" href="tel:+18666050702">
                        +18666050702
                    </a>
                    <a class="cta-glink" tabindex="-1" href="tel:+18666050702">+18666050702</a>
                </div>

                @@include('../components/ui/_picture.html', {
                    "img": "cta-hero",
                    "ext": "png",
                    "pictureClass": "cta-hero"
                })
            </div>
        </div>
    </section>

    <div class="container">
        <div class="review">
            <div class="review-content">
                <p>
                    "I had a fantastic experience with 'Way Out'. They were very helpful in guiding me through the process of consolidating
					my debts and reducing my monthly payments. The representatives were friendly and knowledgeable, and I highly recommend
					this site to anyone looking for debt relief solutions."
                </p>
            </div>
            @@include('../components/ui/_picture.html', {
                "img": "john",
                "ext": "png",
                "pictureClass": "review-photo"
            })
        </div>
        <div class="review">
            <div class="review-content">
                <p>
                    "I was skeptical about using a debt relief website, but I was happily surprised by the level of support I received. The
					team was able to negotiate lower interest rates and monthly payments for me, and they kept me informed throughout the
					process. I would definitely use this site again if I ever needed debt relief help."
                </p>
            </div>
            @@include('../components/ui/_picture.html', {
                "img": "kate",
                "ext": "png",
                "pictureClass": "review-photo"
            })
        </div>
        <div class="review">
            <div class="review-content">
                <p>
                    "Way Out was a lifesaver for me. I was struggling to make ends meet with my high monthly debt payments, but with their
					assistance, I was able to reduce my payments and get back on track. I highly recommend this site to anyone in need of
					debt relief."
                </p>
            </div>
            @@include('../components/ui/_picture.html', {
                "img": "eliza",
                "ext": "png",
                "pictureClass": "review-photo"
            })
        </div>
    </div>

    <div class="section">
        <div class="container">
            @@include('../components/_formSMS.html')
        </div>
    </div>
</main>

@@include('../components/_footer-page.html')
