.field-holder {
    position: relative;
}

.field {
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2bb5b3;
    outline-color: #359acd;

    &-label {
        position: absolute;
        top: 2px;
        left: 10px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 900;
    }
}
