.form-control {
    display: block;
    width: 100%;
    padding: 10px 18px;
    min-height: 42px;
    border: 1px solid rgba(53,154,205,.5);
    border-radius: .25rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #04252A;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 1px 1px rgba(#000, .08);
    -webkit-appearance: none;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    @media(min-width: $md) {
        font-size: 15px;
    }

    @include placeholder {
        transition: 0.2s linear;
    }

    &:focus {
        border: 1px solid #000;
        box-shadow: 0 0 0 1px #000;

        @include placeholder {
            opacity: 0.75;
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}