.brand-logo {
    height: 68px;
    width: 120px;
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    color: transparent !important;
    background: no-repeat center /contain;
    @include bgImage('logo', 'png');

    @media(min-width: $md) {
        width: 150px;
        height: 85px;
    }
}
